@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.gallery > img {
  margin: 11px;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 27px auto;
}

.collection-item{
  width: 100%;
}


#toast-container{
  top:70px !important;
  right: 40px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}

.react-icons {
  vertical-align: middle;
  color: blue;
  justify-content: center;
  margin-left: 10px;
}

.white{
  padding-right:10px;
  padding-left: 10px;
}

.mycard{
  margin-top: 47px;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 470px;
  margin: 17px auto;
}

.moto {
  min-width: 540px;
}